<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <!--load the Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    <!--load the MapQuest Maps-->
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=ArU4fSGrGRQLFD5MMfwb4GzWsgdU1weJ"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-geocoding.js?key=ArU4fSGrGRQLFD5MMfwb4GzWsgdU1weJ"></script>
    <title>Mapping</title>
    <style>
        html, body, #mapid { height: 100%;}
    </style>
</head>
<body>
<div id="mapid" style="height: 100%;">></div>
<script>
    // Initialization map
    var mymap = L.map('mapid').setView([44.0521, -123.0868], 10);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: '{{ g.MAP_KEY }}'
    }).addTo(mymap);

    // Pre-load some interesting markers on map.
    var index, len;
    var POI = {{ POI | safe }}
        console.log(POI);
    console.log(typeof POI)
    for (index = 0; index < POI.length; ++index) {
        entry = POI[index]
        console.log(POI[index])
        var lat = entry["lat"]
        var lon = entry["lon"]
        var Description = entry["Description"]
        console.log(lat)
        console.log(lon)
        console.log(Description)
        L.marker([lat, lon]).addTo(mymap).bindPopup(Description);
    }

    // When click somewhere, a maker is created. If click the marker, the address should be shown.
    // Credit: https://stackoverflow.com/questions/18388288/how-do-you-add-marker-to-map-using-leaflet-map-onclick-function-event-handl
    mymap.on('click', addPin);
    var popup = L.popup();
    var pin = new L.marker([0,0]).addTo(mymap).bindPopup(popup);

    function addPin(e) {
        // Add marker to map at click location; add popup window
        pin.setLatLng(e.latlng);
        geocode.reverse(e.latlng);
        console.log("A new pin is created");
    }

    var geocode = MQ.geocode().on('success', function (e) {
        popup.setContent(geocode.describeLocation(e.result.best));
    });

    // Show the current location with a particular marker
    function onLocationFound(e) {
        L.marker(e.latlng).addTo(mymap)
            .bindPopup("You are here!")
            .openPopup();
    }

    function onLocationError(e) {
        alert(e.message);
    }

    mymap.on('locationfound', onLocationFound);
    mymap.on('locationerror', onLocationError);
    mymap.locate({setView: true, maxZoom: 14});

</script>
</body>
</html>